.custom-button{
    border-radius: 50%;
    font-size: 150%;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #FFDEA8;
    border: none;
    font-weight: 600;
    color:#1F1B16;
    cursor: pointer;
    transition: 0.3s;      
    display: flex;
    align-items: center;
    justify-content: center;    
}
.custom-button:hover{
   background-color: #0292C9;
    color: white;
}